<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tlcsdm.eclipse.gefemf.demo.editor.DiagramEditor"
            contributorClass="com.tlcsdm.eclipse.gefemf.demo.editor.DiagramEditorActionBarContributor"
            default="true"
            extensions="gefxml"
            icon="icons/sample.png"
            id="com.tlcsdm.eclipse.gefemf.demo.editor"
            name="LVGL UI Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.tlcsdm.eclipse.gefemf.demo.category"
            class="com.tlcsdm.eclipse.gefemf.demo.wizard.NewDiagramWizard"
            icon="icons/sample.png"
            id="com.tlcsdm.eclipse.gefemf.demo.wizard.newDiagram"
            name="New Diagram File">
      </wizard>
      <category
            id="com.tlcsdm.eclipse.gefemf.demo.category"
            name="GEF EMF Demo">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.tlcsdm.eclipse.gefemf.demo.toolbar">
            <command
                  commandId="com.tlcsdm.eclipse.gefemf.demo.commands.generate"
                  icon="icons/generate.png"
                  id="generateButton"
                  label="Generate C Code"
                  style="push"
                  tooltip="Generate LVGL C Code from Diagram">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.tlcsdm.eclipse.gefemf.demo.commands.generateFromFile"
               icon="icons/generate.png"
               label="Generate LVGL C Code"
               style="push"
               tooltip="Generate LVGL C Code from this diagram">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.gefxml">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.tlcsdm.eclipse.gefemf.demo.commands.generate"
            name="Generate C Code">
      </command>
      <command
            id="com.tlcsdm.eclipse.gefemf.demo.commands.generateFromFile"
            name="Generate LVGL C Code from File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.tlcsdm.eclipse.gefemf.demo.commands.generate"
            class="com.tlcsdm.eclipse.gefemf.demo.handler.GenerateCodeHandler">
      </handler>
      <handler
            commandId="com.tlcsdm.eclipse.gefemf.demo.commands.generateFromFile"
            class="com.tlcsdm.eclipse.gefemf.demo.handler.GenerateCodeFromFileHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tlcsdm.eclipse.gefemf.demo.preferences.LvglPreferencePage"
            id="com.tlcsdm.eclipse.gefemf.demo.preferences"
            name="LVGL UI Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tlcsdm.eclipse.gefemf.demo.preferences.LvglPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
