name: Artifact

on:
  push:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: '3.9.9'
    - name: Build with Maven
      run: mvn -B clean verify -ntp -DskipTests
    - name: Archive plugin dist
      uses: actions/upload-artifact@v6
      with:
        name: plugin
        path: sites/com.tlcsdm.eclipse.gefemf.demo.site/target/*.zip
    - name: Archive test results
      uses: actions/upload-artifact@v6
      with:
        name: update_site
        path: sites/com.tlcsdm.eclipse.gefemf.demo.site/target/repository
