name: Build and Upload Artifacts on Release

on:
  release:
    types: [published] # Only triggered on official release, add created/prereleased for draft or pre-release

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.9.9'
      - name: Build with Maven
        run: mvn -B clean verify -ntp -DskipTests

      - name: Upload artifact to release
        uses: softprops/action-gh-release@v2
        with:
          files: sites/com.tlcsdm.eclipse.gefemf.demo.site/target/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
